
.input-error{
    border-color:red;
}
.input-success{
    border-color:green;
}


.objetfitcover > img{
	width: 1200px;
	height: 500px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-categoria{
    height: 170px;
}

.btn-link{
 color:Red !important; 
 padding: 0px !important;
}

.seleccion{
    margin-bottom: 20px;
}

.parrafos-columnnas{
    color: rgb(82, 190, 196) !important;
}