<title>
  Entradas - Ara Manager
</title>
{{> head}}

<body class="">

  {{> navbar}}
  <!-- Nueva entrada y búsqueda -->
  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Agregar</h5>
                    <span class="h2 font-weight-bold mb-0">Utiliza el editor de texto para crear nuevas entradas </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <a href="/editor"><button class="btn btn-warning">Crear Entrada</button></a>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Editar </h5>
                    <span class="h2 font-weight-bold mb-0">En cambio puedes utilizar el editor de código HTML CSS
                      JS</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <a href="/editor2"><button class="btn btn-warning">Ir al Editor</button></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <input type="hidden" name="idUsuarioSesion" id="idUsuarioSesion" value="{{idUsuario}}">
            <h3 class="mb-0">Entradas</h3>
          </div>

          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Categoría</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Comentarios</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody id="entradas">
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal de usuarios-->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-primary">
          <h5 class="card-title text-uppercase  mb-0" style="color: white">Gestión de Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!--body modal-->
        <div class="card bg-secondary shadow">
          <div class="card-header bg-transparent pb-5">
            <form role="form">
              <div class="form-group d-none">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83" style="color: rgb(251,196,17)" ></i></span>
                  </div>
                  <input id="id-usuario" class="form-control pl-2" placeholder="" type="password">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3" style="color: rgb(251,196,17)"></i></span>
                  </div>
                  <input id="nombre" class="form-control pl-2" placeholder="Usuario" type="text">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83" style="color: rgb(251,196,17)" ></i></span>
                  </div>
                  <input id="correo" class="form-control pl-2" placeholder="Correo electrónico" type="email">
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open" style="color: rgb(251,196,17)"></i></span>
                  </div>
                  <input id="contrasena" class="form-control pl-2" placeholder="Contraseña" type="password">
                </div>
              </div>

              <div class="row my-4">
                <div class="col-12">
                  <select id="permiso" class="form-control">
                    <option value="1">Administrador</option>
                    <option value="2">Regular</option>
                  </select>

                  {{!-- <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id="administrador"  type="checkbox">
                    <label class="custom-control-label" for="administrador" name="tipoUsuario">
                      <span class="text-muted">Usuario administrador</span>
                    </label><br>

                    <input class="custom-control-input" id="regular"  type="checkbox">
                    <label class="custom-control-label" for="regular" name="tipoUsuario">
                      <span class="text-muted">Usuario Regular</span>
                    </label><br>
                  </div> --}}
                </div>
              </div>

              <div class="text-center">
                <button id="btn-nuevo-usuario" type="button" class="btn btn-warning my-4">Crear usuario</button>
              </div>
              <div class="text-center">
                <button id="btn-actualizar-usuario" type="button" class="btn btn-warning my-4 d-none">Actualizar usuario</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> footer}}
  <script src="../assets/js/controlador-entrada.js"></script>