<title>
  Principal - Ara Manager
</title>
{{> head}}

<body class="">
{{> navbar}}

    <!--Area de trabajo-->
    <!-- Crear un blog -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Crear nueva página</h5>
                      <span class="h2 font-weight-bold mb-0">Crea una página nueva</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="fas fa-wrench"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <a href="/crearprincipal"><button class="btn btn-warning">Crear con editor </button></a>
                    <a href="/"><button class="btn btn-warning">Crear predeterminada </button></a>
                  </p>
                </div>
              </div>
            </div>
 
            <!--Editar página principal -->
            <div class="col-xl-6 col-lg-6" style="margin-bottom: 30px">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Página principal</h5>
                      <span class="h2 font-weight-bold mb-0">Editar página principal</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                      <a href="/crearprincipal"><button class="btn btn-warning" >Editar</button></a>
                      <a href="/verpagina"><button class="btn btn-warning" >Ver</button></a>
                  </p>
                </div>
              </div>
            </div>
            <!--Mis blogs-->

            <!--Plantillas-->
          </div>
        </div>
      </div>
    </div>

{{> footer}}