<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog de Alejandra</title>
    <link href="./assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/LogoAraManager.png">

</head>
<body>
    <!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/img/LogoAraFondo.png"  height="30" class="d-inline-block align-top" alt="">
    Blog de Alejandra
  </a>
</nav>


  <div class="header bg-gradient-primary pb-6 pt-6 pt-md-6" align= "center">
    <div class="container-fluid">
      <div class="header-body" >

        <!-- Jumbotron -->
        <div class="col-xl-10 col-lg-10">
        <div class="jumbotron">
            <h1 class="display-4">Título de la entrada   
            </h1>
            <hr class="my-4">
            
            <!--    <a href="#" class="avatar avatar-sm" data-toggle="tooltip"
                data-original-title="{{autor.name}}">
                <img alt="Image placeholder" src="..{{autor.imagen}}" class="rounded-circle">
                </a>
                <span class="mb-0 text-sm">{{ nombre }}</span> -->
            <p class="lead">Publicado por: Autor</p>
            <p> Categoría Nombre</p>
            <img src="assets/img/imagenBlog.jpg" class="img-fluid" alt="Responsive image"> 

            <p class="text-justify"> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, excepturi numquam molestias, totam maiores aut libero a, distinctio doloribus dolor non recusandae voluptate illo quas cum. Qui deserunt impedit praesentium temporibus ex quod quidem voluptate recusandae ullam illum ipsum officiis at corrupti ea a, consectetur unde pariatur doloribus itaque atque.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat maiores, quos inventore autem praesentium? Reprehenderit nam obcaecati quis ad, quas perspiciatis esse neque. Perferendis fuga eligendi atque quos, quo voluptatem tenetur eaque architecto ab aperiam harum neque maiores natus, animi cum alias consequatur quibusdam quod ut voluptatibus earum iste eum? Blanditiis nobis expedita totam sunt voluptatum suscipit voluptas nam a quaerat aperiam dolores numquam facere ad aut natus vel, ut illo sed, ipsa non! Consectetur odit, dolores, neque vitae accusamus quae beatae rem assumenda vero, eveniet nostrum pariatur fugiat obcaecati aliquam aperiam veniam animi illo alias qui? Atque, et!
            </p>
            <hr class="my-4">       
            <p class="lead" align="right"> Fecha de publicación</p> 
            <div class="form-group col-6">
                <h2>Comentarios</h2>
                <textarea class="form-control" id="comentariosEntradas" rows="3" cols="2" placeholder="Introduce un comentario"></textarea> 
            </div>
            
            
            <a class="btn btn-warning btn-lg" href="#" role="button">Hacer comentario</a>

        <p></p>
        <div class="header-body" align="left">
          <!-- Card stats -->
          <div class="row" >
            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Fecha de publicacion</h5>
                      <span class="h2  mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum id libero ad modi et officiis!
                      </span>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <a href=""> <button class="btn btn-warning" >Eliminar</button></a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Fecha de publicacion</h5>
                      <span class="h2  mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum id libero ad modi et officiis!
                      </span>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <a href=""> <button class="btn btn-warning" >Eliminar</button></a>
                  </p>
                </div>
              </div>
            </div>

 
          </div>
          
        </div>
        </div>
        </div>

        


      </div>
    </div>
  </div>


</body>
</html>